body {
    background-color: whitesmoke;
}

.h1 {
border-style: dotted;
border-color: blue;
padding: 1em;
}

p {
    border: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 1em;
}

header{
    background-color: grey;
    text-align: center;
    padding: 25px;
}
nav {
text-align: left;
background-color: rgb(171, 174, 174);
width: 100%;
height: 30px;
padding: 10px 30px;
font-size: large;
}
ul {
list-style: none;
color: black;
}

li {
    display: inline-block;
    padding: 1px 10em;
    color: whitesmoke;
    text-align: center;
}
li a {
    color: whitesmoke;
    text-decoration: none;
}
li a:hover{
    color: rgb(245, 7, 7);
}
ol {
    list-style: none;
    color: grey;
}
section {
    float: left;
    width: 65%;
    height: 25%;
}
.column-left {
    float: left;
    color: whitesmoke;
    padding-left: 10px;
    width: 15%;
    background-color: rgb(143, 141, 141);
    height:20em;
}
.column{
    float: left;
    width: 65%;
    padding-left: 20px;
    margin: 20px;
}
aside {
    float: right;
    width: 25%;
    height: 65%;
}
article {
    float: left;
    width: 65%;
    height: 25%;

}
footer {
    float: left;
    height:10%;
    width: 100%;
    background-color: #7f7c7c;
    text-align: center;
}