body {
    background-color: beige;
}

.h1 {
border-style: dotted;
border-color: blue;
padding: 1em;
}

p {
    border: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 1em;
}

header{
    background-color: white;
    text-align: center;
}
nav {
    float: left;
    padding: 20px;
}
section {
    width: 25%;
    margin-left: 25%;
}