
.jokin {
    width: 70%;
    margin-left: 15%;
}


.outset {
border-style: outset;
}

.round3 {
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}



.column {
    float: left;
    
}

.column.left{
    width: 25%;
    background-color: #efe8e8;
}

.column.middle{
    width: 50%;
}

.column.right{
    width: 25%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.img {
    height: 300px;
    width: 500px;
  }
  .column {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(218, 209, 197);
  }
  .custom-dropdown-toggle {
        color: black; 
        margin-right: 20px; 
        font-size: 20px; 
        padding: 10px 20px;
  }
  .jokin {
      width: 70%;
      align-content: center;
      margin-left: 15%;
  }
  .carousel-item{
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}
.custom-nav {
    background-image: url(Pepen\ autopaja.jpg);
    background-size: 100%;
    background-position: center;
}
.d-flex div {
  margin: 10px;
  }